.container{
    display: flex;
    flex-direction: column;
    background-color: var(--gray-200);
    padding: 2.5rem 0;
    align-items: center;

}

.contentCtr{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    margin: 2.5rem 2.5rem 0 2.5rem;
}

.info{
    width: 50%;
    text-align: justify;
    font-size: 30px;
    color: var(--gray-50);
}

.info strong{
    color: var(--green-100);
}

.imageContainer{
    width: 50%;
}

.imageContainer img{
    width: 100%;
}

@media (max-width: 768px) {
    .contentCtr{
        flex-direction: column;
        margin: 1rem 0;
        align-items: center;
        width: 90%;
        justify-content: center;
    }

    .info{
        width: 90%;
        font-size: 20px;
    }

    .imageContainer{
        width: 70%;
    }

    
}