.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.675rem 3.3rem;
  background-color: var(--gray-100);
}

.imgContainer {
  max-width: 100%;
}

.imgContainer img {
  width: 100%;
  height: auto;
}

.menuWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.25rem;
  gap: 3rem;
  padding-inline: 1rem;
}

.menuWrapper li {
  color: var(--white);
}

.menuWrapper li:hover {
  color: var(--green-100);
  transition: color 0.3s;
}

.btnContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.375rem;
}

@media (max-width: 768px) {
  .headerWrapper {
    flex-direction: column;
    gap: 2.25rem;
    padding: 1.25rem 0;
  }

  .menuWrapper {
    font-size: 1rem;
    gap: 2rem;
    padding: 0;
  }
}
