.button {
  font-size: 1.625rem;
  background: linear-gradient(
    90deg,
    rgba(86, 226, 27, 1) 0%,
    rgba(45, 162, 0, 1) 100%
  );
  border-radius: var(--button-radius);
  color: var(--white);
  border: 0;
  cursor: pointer;
  width: 14rem;
  height: 3.65rem;
}

.button:hover {
  transition: background-color 0.2s;
  background: var(--green-300);
}

@media (max-width: 768px) {
  .button {
    font-size: 1.2rem;
    width: 10rem;
    height: 3rem;
  }
}
