.formCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.formField {
    display: flex;
    flex-direction: column;
}

.formField label {
    color: var(--labelGray);
    font-size: 1rem;
    padding-bottom: 0.2rem;
}