.title {
  font-size: 1.75rem;
  padding: 1rem 2rem;
}

.checkForm {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

.formInputsWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.formDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.formLine {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkMultiplerWrapper {
  display: flex;
  gap: 1rem;
  padding-block: 1.5rem;
  flex-wrap: wrap;
}

.inputCtrMultiple {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}

.select {
  border-radius: 15px;
  padding-inline: 0.75rem;
  border-style: none;
  border: 0;
  height: 2rem;
  background: var(--gray-200);
  font-size: 1rem;
  min-width: 200px;
  width: 13.75rem;
  max-width: 100%;
}

.salesDataContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  background: var(--green-200);
  padding: 2rem;
  border-radius: 15px;
  max-width: 100%;
}

.salesDataContainer textarea,
.salesDataContainer select {
  background: var(--gray-200);
}
.salesDataContainer label {
  color: var(--white);
  font-weight: 700;
}

.salesTitle {
  font-size: 2rem;
  color: var(--white);
}

.inputFieldsLine {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.searchContainer {
  width: 100%; /* Ou a largura desejada */
  position: relative;
}

.textAreaContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}

.textAreaWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}

.textAreaWrapper textarea {
  border-radius: 15px;
  padding: 0.5rem 0.75rem;
  border: 0;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  width: 100%;
  min-height: 100px;
  outline: none;
  resize: none;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  padding-top: 2rem;
  max-width: 100%;
}

.checkForm span{
  color: var(--redTd);
}

@media (max-width: 768px) {

  .title {
    text-align: center;
  }

  .formLine {
    justify-content: center;
    gap: 1rem;
  }

  .checkForm {
    padding: 1rem 1rem;
  }

  .checkMultiplerWrapper {
    justify-content: center;
  }
}