.cadastroWrapper {
  display: inline-block;
}

.title {
  font-size: 1.75rem;
  padding: 1rem 2rem;
}

.checkForm {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 2rem;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.formDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.formLine {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.formField {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}

.formField label,
.formLine label {
  font-weight: 700;
}

.checkMultiplerWrapper {
  display: flex;
  gap: 1rem;
  padding-block: 1.5rem;
  flex-wrap: wrap;
}

.inputCtr {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.inputCtr input::placeholder {
  color: #979797;
}

.inputCtrMultiple {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}

.formField input,
.inputCtr input,
.inputCtrMultiple input,
.multipleField input,
.select {
  border-radius: 15px;
  padding-inline: 0.75rem;
  border-style: none;
  border: 0;
  height: 2rem;
  min-width: 200px;
  width: 100%;
  background: var(--gray-200);
  font-size: 1rem;
}

.salesDataWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--green-200);
  padding: 2rem;
  border-radius: 15px;
}

.salesDataWrapper input,
.salesDataWrapper textarea,
.salesDataWrapper select {
  background: var(--white);
}
.salesDataWrapper label {
  color: var(--white);
}

.salesTitle {
  font-size: 2rem;
  color: var(--white);
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formInputFields {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputCtr textarea {
  border-radius: 15px;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  border-style: none;
  border: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  width: 450px;
  height: 100px;
}

.btnContainer {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding-top: 2rem;
}
