.formCtr, .formCtrCenter{
    margin: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.formCtr{
    align-items: flex-start;
}

.formCtrCenter{
    align-items: center;
}

.name{
    margin: 20px;
    font-size: 25px;
}

.inputCtr input, .select{
    border-radius: 5px;
    border-style: none;
    border: 1px solid #303030;
    height: 20px;
}


.nameCtr input{
    width: 300px;
}

.button{
    height:50px;
    background-color: #00A86B;
    color: white;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
    background-color: #00a86abb;
}

.buttonCtr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 130px;
    width: 150px;
}

.editButton{
    display: none;
}

#smallTable{
    width: 50%;
}

.searchBox{
    display: none;
    margin-bottom: -300px;
    
    
}

.searchBox option{
    width: 283px;
    position: relative;
    z-index: 150;
    background-color: white;
    
    
}

.searchBox option:hover{
    background-color: #02ce83;
    cursor: pointer;
}

.searchBox select{
    background-color: white;
    z-index: 100;
}

#clienteSelect{
    z-index: 100;

}

#clienteSelect option{
    color:#303030;
}

.obs textarea{
    width: 190px;
    height: 100px;
}

.filterCtr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    
}

.filterField{
    margin: 20px;
    background-color: #D9DDDC;
}

#mainLegend{
    font-size: 25px;
}

#editForm{
    justify-content: center;
}

#editForm h4{
    font-size: 13px;
}

#editForm input{
    width: 100px;
}

#editForm .nameCtr input{
    width: 200px;
}

#editForm option{
    width: 184px;
}

.editFieldset{
    width: 70%;
    height: 200px;
    margin: auto;
    display: none;
    background-color: #D9DDDC;
}