.formCtr, .formCtrCenter{
    margin: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.formCtr{
    align-items: flex-start;
}

.formCtrCenter{
    align-items: center;
}

.name{
    margin: 20px;
    font-size: 25px;
}

.inputCtr input, .select{
    border-radius: 5px;
    border-style: none;
    border: 1px solid #303030;
    height: 20px;
}


.nameCtr input{
    width: 300px;
}

.button{
    height:50px;
    background-color: #00A86B;
    color: white;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
    background-color: #00a86abb;
}

.buttonCtr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 130px;
    width: 150px;
}

.editButton{
    display: none;
}

#smallTable{
    width: 50%;
}

.searchBox{
    display: none;
    margin-bottom: -300px;
    
    
}

.searchBox option{
    width: 283px;
    position: relative;
    z-index: 150;
    background-color: white;
    
    
}

.searchBox option:hover{
    background-color: #02ce83;
    cursor: pointer;
}

.searchBox select{
    background-color: white;
    z-index: 100;
}

#clienteSelect{
    z-index: 100;

}

#clienteSelect option{
    color:#303030;
}

.obs textarea{
    width: 190px;
    height: 100px;
}

.filterCtr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    
}

.filterField{
    margin: 20px;
    background-color: #D9DDDC;
}

#mainLegend{
    font-size: 25px;
}

#editForm{
    justify-content: center;
}

#editForm h4{
    font-size: 13px;
}

#editForm input{
    width: 100px;
}

#editForm .nameCtr input{
    width: 200px;
}

#editForm option{
    width: 184px;
}

.editFieldset{
    width: 70%;
    height: 200px;
    margin: auto;
    display: none;
    background-color: #D9DDDC;
}

#obsBackground{
    z-index: 200;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #30303069;
    display: none;
    align-items: center;
    justify-content: center;
}

#obsCtr{
    background-color: #D9DDDC;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#obsCtr textarea{
    width: 97%;
    height: 90%;
    
}

.popupHeader{
    display: flex;
    height: 25%;
    justify-content: space-between;
    align-items: flex-start;
}

.popupHeader h4{
    width: 95%;
}

.popupHeader img{
    width: 15px;
}

.popupHeader img:hover{
    opacity: 50%;
    cursor: pointer;
}

.obsContent{
    height: 65%;
}

#obsCtr button{
    width: 15%;
    height: 35px;
}

.obsButtonCtr{
    display: flex;
    gap: 10px;
}

body.no-scroll {
    overflow: hidden;
}

.statusCtr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.statusCtr .formCtr{
    margin: 0;
}

#editObs textarea{
    width: 230px;
    height: 70px;
}