.paymentEditWindowBackground {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: -200px;
}

.editContainer {
  background: linear-gradient(
    180deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(68, 68, 68, 1) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 3rem;
  border-radius: 15px;
  align-items: center;
  width: 800px;

  box-shadow: 1px -1px 22px 7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -1px 22px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 22px 7px rgba(0, 0, 0, 0.75);
}

.editTitle {
  font-size: 3rem;
  color: var(--green-100);
  text-transform: uppercase;
}

.editText {
  font-size: 1.5rem;
  color: var(--green-100);
  text-align: justify;
  
}

.paymentForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.cardCtr {
  border: 1px solid white;
  height: 8rem;
  width: 12rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.cardCtr:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.5s ease;
  background-color: var(--gray-50);
}

#clicked {
  transform: scale(1.05);
  background-color: var(--green-200);
}

.cardFooter {
  font-size: 0.75rem;
  position: relative;
  bottom: -15px;
  margin: 0 5px;
}

.paymentWrapper {
  display: flex;
  gap: 10px;
  color: white;
}

.labelRadio {
  padding-right: 1rem;
}

.addressWrapper {
  display: flex;
  flex-direction: column;
}

.addressSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addressSectionTitle {
  font-size: 1.5rem;
  color: var(--green-100);
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.cepSearch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s;
}

.creditCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  align-content: center;
  gap: 2rem;
}

.cardInfo {
  display: flex;
  gap: 2rem;
}

.inputCtr {
  display: flex;
  flex-direction: column;
  color: white;
}

.inputCtr label {
  padding-bottom: 0.5rem;
}

.inputCtr input {
  border-radius: 50px;
  border: 1px solid white;
  font-size: 1.25rem;
  width: 21rem;
  height: 2.5rem;
  padding: 1rem;
  background: transparent;
  color: var(--white);
}

.boletoLink{
  color: white;
  border: 1px solid white;
  width: 30%;
  padding: 3px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--green-200);
}

.expDate{
  display: flex;
  gap: 0.5rem;
}

.inputCtr input[type="number"]::-webkit-inner-spin-button,
.inputCtr [type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.boletoLink:hover{
  cursor: pointer;
  background-color: var(--gray-200);
  transition: ease 0.2s;
}

.bottomSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.cancelBtn {
  color: var(--white);
  font-size: 1rem;
}

.cancelBtn:hover {
  cursor: pointer;
  color: var(--green-100);
  transition: color 0.3s;
}

.editBtn {
  font-size: 1.5rem;
  background: var(--green-100);
  border-radius: var(--button-radius);
  color: var(--white);
  border: 0;
  cursor: pointer;
  width: 12rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editBtn:hover {
  transition: all 0.3s;
  background: var(--green-300);
}

.actualPlanSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.actualPlanText {
  color: var(--white);
  font-size: 1.1rem;
}

.actualPlanText strong {
  color: var(--green-100);
}

.btnSection {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .editContainer {
    gap: 1rem;
    padding-inline: 0.875rem;
    width: auto;
  }

  .editTitle {
    font-size: 2.5rem;
    text-align: center;
  }

  .labelRadio {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .editContainer {
    gap: 1rem;
    padding-inline: 0.875rem;
    width: 300px;
  }

  .editTitle {
    font-size: 1.75rem;
    text-align: center;
  }

  .labelRadio {
    font-size: 1rem;
  }
}
