@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=block");

:root {
  --navColor: #004225;
  --black30: #303030;
  --black: black;
  --black30Faint: #30303069;
  --buttonGreen: #00a86b;
  --buttonGreenHover: #00a86abb;
  --optionGreen: #02ce83;
  --lightGray: #d9dddc;
  --labelGray: #626060;
  --white: white;
  --yellowTd: #fada5e;
  --redTd: #ff6347;
  --blueTd: #89cff0;
  --menuGreen: #A8E4A0;
}

* {
  font-family: "Roboto",sans-serif;
  color: var(--black30);
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.table {
  border-collapse: collapse;
  width: 90%;
  margin: 20px;
}

.table th {
  border: 1px solid black;
  font-size: 14px;
}

.table td {
  text-align: center;
  border: 1px solid var(--black30);
  padding: 5px;
  font-size: 14px;
}

.table img {
  height: 22px;
}

.table img:hover {
  cursor: pointer;
  opacity: 50%;
}

.Bom {
  background-color: greenyellow;
}

.Médio {
  background-color: yellow;
}

.Ruim {
  background-color: crimson;
  color: aliceblue;
}

#clienteBox {
  z-index: 400;
}

Button a {
  color: var(--white);
}

a:hover{
  color: var(--labelGray);
}