@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=block");

:root {
  --navColor: #316e0f;
  --black30: #303030;
  --black: black;
  --black30Faint: #252328;
  --buttonGreen: #56E21B;
  --buttonGreenHover: #3b9011;
  --optionGreen: #42b413;
  --lightGray: #d9dddc;
  --labelGray: #444444;

  --white: white;
  --yellowTd: #fada5e;
  --redTd: #ff6347;
  --blueTd: #89cff0;
  --menuGreen: #56E21B;

  {/* New Global Styles According to figma */}

  --green-50: #56E21B;
  --green-100: #42b413;
  --green-200: #3b9011;
  --green-300: #2DA200;
  --green-400: #316e0f;

  --black-100: #303030; 
  --black-200: #2d2d2e;
  --black-300: #2a292c;
  --black-400: #28262a;
  --black-500: #252328;

  --gray-50: #686868;
  --gray-100: #444444;

  --button-radius: 50px;
}

* {
  font-family: "Roboto",sans-serif;
  color: var(--black30);
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
}

.table {
  border-collapse: collapse;
  width: 90%;
  margin: 20px;
}

.table th {
  border: 1px solid black;
  font-size: 14px;
  position: sticky;
  top: 0;
  background-color: var(--lightGray);
}

.table td {
  text-align: center;
  border: 1px solid var(--black30);
  padding: 5px;
  font-size: 14px;
  max-width: 18rem;
  overflow-wrap: break-word;
}

.table img {
  height: 22px;
}

.table img:hover {
  cursor: pointer;
  opacity: 50%;
}

.Bom {
  background-color: greenyellow;
}

.Médio {
  background-color: yellow;
}

.Ruim {
  background-color: crimson;
  color: aliceblue;
}

#clienteBox {
  z-index: 200;
}

Button a {
  color: var(--white);
}

a:hover{
  color: var(--labelGray);
}

.addMarginLeft{
  margin-left: 20px;
}

#addForm{
  display: none;
}

#loading{
  height: 10rem;
}

#contactWindow{
  width: 25rem;
}