.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.icon {
  cursor: pointer;
}

.sidebar {
  transition: all 0.5s ease;
  padding-inline: 1rem;
}

.sidebar a {
  display: block;
  width: 100%;
  transition: all 0.5s ease;
}

.menuSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-bottom: 1px solid #2da200;
}

.menuSection p {
  font-size: 1.15rem;
  padding-top: 1rem;
  color: var(--green-50);
}

.menuOptions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menuOptions li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menuOptions li span {
  font-size: 1rem;
  color: var(--white);
}

.closedSideBar {
  width: 100px;
  transition: all 0.3s;

  .header {
    flex-direction: column;
    gap: 1rem;
  }

  .header img {
    width: 80px;
  }

  .menuSection {
    padding-left: 0;
    text-align: center;
    border-bottom: 3px solid #2da200;
  }

  .menuOptions {
    padding-block: 1rem;
  }

  .menuSection p,
  .menuOptions span {
    display: none;
  }

  .menuOptions li a {
    gap: 0;
    display: block;
  }
}

@media (max-width: 768px) {
  .sidebar {
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }

  .header {
    display: none;
  }

  .menuSection p {
    display: none;
  }

  .sidebar a span {
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }

  .sidebar a {
    height: 60px;
  }

  .sidebar a i {
    margin-left: -10px;
  }

  .sidebar a:hover {
    width: 200px;
    background: inherit;
  }

  .sidebar a:hover span {
    opacity: 1;
    visibility: visible;
  }
}
