.headerUserContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
}

.headerUserWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.headerUserLeft {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.headerUserLeft p {
  font-size: 1.25rem;
  color: var(--black-100);
  font-weight: bold;
}

.btnContainer {
  display: flex;
  gap: 0.5rem;
}

.wpp_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50px;
  text-align: center;
  z-index: 1000;
}

.wpp_btn:hover {
  transform: scale(1.15);
  transition: transform 0.3s;
}

.warning{
  background-color: var(--blueTd-50);
  color: var(--blueTd-100);
  font-weight: 800;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.warningText{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.subscribeButton{
  border: 1px solid var(--blueTd-100);
  padding: 0 3px;
  border-radius: 5px;
  background-color: var(--blueTd);
  color: white;
  text-decoration: none;
  width: 170px;
}

@media (max-width: 768px) {
  .headerUserContainer {
    flex-direction: column;
    gap: 1rem;
  }
}
