.header {
  display: flex;
  background-color: var(--navColor);
  align-items: center;
  padding: 1rem 0;
}

.navBar {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.imgCtr {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}

.header img {
  width: 10rem;
  height: 3rem;
}

.menuOptions {
  display: flex;
  justify-content: flex-start;
}

.menuOption {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 10rem;
  height: 3.2rem;
}

.menuOption h2 {
  margin-top: 0.875rem;
  color: var(--menuGreen);
}

.option {
  display: none;
  background-color: #74c365;
  margin-top: 0;
  width: 7.5rem;
  text-align: center;
  border-radius: 10px;
  z-index: 1000;
}

.option h3 {
  margin: 1rem 0;
}

.option:hover {
  display: block;
}

.menuOption:hover {
  cursor: pointer;
  .option {
    display: block;
  }
  .navbar {
    align-items: flex-start;
  }
}

.menuOption a:hover {
  color: antiquewhite;
}