.mainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 5rem;
    color: var(--black30Faint)
}

.mainTitle {
    font-size: 3rem;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 2rem;
}