.loadingScreen{
    background-color: var(--gray-transp);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
}

