.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Archivo", sans-serif;
  background: linear-gradient(
    180deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(68, 68, 68, 1) 100%
  );
  padding: 4rem 2rem;
  gap: 2rem;

  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;

  height: 590px;
  width: auto;
}

.cardTitle {
  color: var(--green-50);
  font-size: 2rem;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    border-radius: 15px;
    height: auto;
  }
}
