.editBackground {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: -200px;
}

.editFieldset {
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid black;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.popupHeader {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

.popupHeader h1 {
  color: var(--green-100);
  font-size: 2rem;
}

.popupHeader img {
  width: 20px;
}

.popupHeader img:hover {
  opacity: 50%;
  cursor: pointer;
}

.modalNameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.formField input {
  min-width: 200px;
  width: 100%;
}