.editBackground {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: -200px;
}

.editFieldset {
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid black;
  padding: 2rem;
  min-width: 600px;
}

.editFieldset button {
  display: block;
  margin: 0.5rem auto;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 2rem;
  overflow: hidden;
}

.popupHeader h1 {
  color: var(--green-100);
  font-size: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popupHeader img {
  width: 20px;
}

.popupHeader img:hover,
.editFieldset img:hover {
  opacity: 50%;
  cursor: pointer;
}

.editFormCtr {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.formLine {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.formContactColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
  background-color: var(--green-200);
  border-radius: 10px;
}

.formContactColumn label,
.formContactColumn h2 {
  color: var(--white);
}

.formField label {
  font-size: 1.25rem;
  font-weight: bold;
}

.select {
  border: 0;
  background: var(--gray-200);
  width: 13.75rem;
  max-width: 100%;
  min-width: 200px;
  border-radius: 15px;
  height: 2rem;
  padding-inline: 0.75rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .editFormCtr {
    flex-direction: column;
    align-items: center;
  }
  .editFieldset {
    min-width: auto;
  }

  .popupHeader {
    justify-content: center;
    gap: 2rem;
  }
}
