.editWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Archivo", sans-serif;

  background: linear-gradient(
    180deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(68, 68, 68, 1) 100%
  );
}

.editTitle {
  padding-top: 5rem;
}

.editForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.editForm label {
  color: var(--labelGray);
  font-size: 1rem;
  padding-bottom: 0.2rem;
}

.editFormField {
  display: flex;
  flex-direction: column;
}
