.editWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: -15%;
}

.editContainer {
  background: linear-gradient(
    180deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(68, 68, 68, 1) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 3rem;
  
  padding: 4rem;
  border-radius: 15px;
}

.editTitle {
  font-size: 3rem;
  color: var(--green-50);
  text-transform: uppercase;
}

.editForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .editWrapper {
    height: auto;
    padding-top: 5rem;
    position: inherit;
  }

  .editContainer {
    gap: 1rem;
    padding-inline: 0.875rem;
  }
  
  .editTitle {
    font-size: 1.75rem;
    text-align: center;
  }
  
  .editForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}