.main{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 80%;
}

.cardCtn{
    background-color: var(--bg-color);
    height: 25rem;
    width: 20rem;
    border-radius: 15px;
    padding: 0.3rem;
    box-shadow: 0 0 10px var(--blueTd-100);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cardCtn h3{
    color: var(--green-100);
    font-size: 30px;
}

#popularCtr{
    background-color: var(--blueTd-100);
    color: var(--white);
}

#popularCtr h2{
    color: var(--green-100)
}

.priceUpperCtn{
    display: flex;
    align-items: flex-end;
    
}


.priceCtn{
    margin: 1rem 0 0 0;
    display: flex;
    gap: 2px;
}

.priceCtn h2{
    font-size: 35px;
    color: var(--green-300);
}
.priceUpperCtn h5{
    font-size: 1.2rem;
    font-weight: 300;
}

.popularHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popularButton{
    background-color: var(--green-100);
    padding: 5px;
    border-radius: 10px;

}

.popularButton p{
    color: var(green-200);
}

.testButton{
    background-color: var(--green-100);
    width: 200px;
    color: var(--white);
    padding: 5px;
    border-radius: 10px;
    font-size: 1.3rem;
    margin: auto;
    
}

.testButton:hover{
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 768px){
    .main{
        flex-direction: column;
        gap: 1rem;
        height: 100%;
        margin-bottom: 1rem;
    }
}