.tableWrapper {
  display: flex;
  flex: 1;
  overflow: auto;
  width: 100%;
}

.table {
  margin: 25px;
  font-size: 0.875rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
  border-radius: 15px;
  white-space:nowrap;

  width:100%;
  overflow: hidden;
}

.table thead{
  text-align: left;
  position: sticky;
}

.table th,
.table td {
  padding: 12px 10px;
  overflow-wrap: break-word;
  text-wrap: no-wrap;
}

.table thead tr,
.table thead th {
  background-color: var(--gray-100);
  color: #ffffff;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table img {
  height: 22px;
}

.table img:hover {
  cursor: pointer;
  opacity: 50%;
}
