.tableWrapper {
  display: flex;
  flex: 1;
  margin: 15px 10px;
  border-radius: 15px;
  overflow: hidden;
  width: 98%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.table {
  font-size: 0.9rem;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
  width: 100%;

}

.table th,
.table td {
  padding: 8px 5px;
  white-space: normal; /* Allow content to expand vertically */
  height: fit-content;
  max-width: 10rem;
}

.table td {
  word-break: break-word;
}

#noBreak,
#noBreakDate {
  word-break: normal;
}

/*.table th {
  position: sticky;
}*/

.thIcon:hover {
  cursor: pointer;
  opacity: 0.50;
  transition: all 0.2s;
}

.table thead tr,
.table thead th {
  background-color: var(--gray-100);
  color: var(--white);
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Icon:hover {
  cursor: pointer;
  transform: scale(1.25);
  transition: all 0.2s;
}

.finalRow td {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--black-100);
}

.massEditCtr {
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  gap: 1rem;
}
.massEditCtr span {
  font-size: 1.25rem;
  font-weight: bold;
}

.vencTrue {
  background-color: var(--blueTd);
  color: var(--white);
}

.semFundo {
  background-color: var(--redTd);
  color: var(--white);
}

.chequeOK {
  background-color: var(--green-200);
  color: var(--white);
}

.editTrue {
  background-color: var(--gray-200);
}

.chequeOK.editTrue {
  background-color: var(--gray-200);
}

.withDestino {
  background-color: var(--yellowTd);
}

.negativo{
  background-color: var(--redTd);
  color: white;
}

@media (max-width: 768px) {
  /* Add responsive styles if needed */
}
