.pageWrapper {
  height: 100vh;
  display: flex;
}

.childrenWrapper {
  padding-top: 5rem;
  padding-left: 100px;
  width: 100%;
}

@media (max-width: 768px) {
  .pageWrapper {
    height: auto;
  }

  .childrenWrapper {
    padding-top: 2rem;
  }
}
