.pageWrapper {
  display: flex;
  height: 100%;
  min-height: 100lvh;
}

.childrenWrapper {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;

  background: var(--bg-color);
}

.contentBar {
  background: var(--green-200);
  padding-top: 1rem;
  min-width: 200px;
  transition: all 0.2s ease;
}

.contentBarClosed {
  min-width: 100px;
  transition: all 0.2s ease;
}

.wpp_btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  bottom: 40px;
  left: 20px;
  background-color: #25d366;
  border-radius: 50px;
  text-align: center;
  z-index: 1000;
}

.wpp_btn:hover {
  transform: scale(1.15);
  transition: transform 0.3s;
}

@media (max-width: 768px) {
  .pageWrapper {
    height: auto;
  }

  .childrenWrapper {
    padding-top: 2rem;
  }

  .contentBar {
    width: 80px;
    min-width: auto;
  }

  .contentBarClosed {
    min-width: auto;
  }
}
