.pageWrapper {
  display: flex;
  height: 100%;
  min-height: 100lvh;
}

.childrenWrapper {
  width: 100%;
  flex: 1;
  overflow-y: auto; 
}

.contentBar {
  background: linear-gradient(
    90deg,
    rgba(35, 109, 5, 0.95) 0%,
    rgba(45, 162, 0, 0.95) 100%
  );
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .pageWrapper {
    height: auto;
  }

  .childrenWrapper {
    padding-top: 2rem;
  }
}
