@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --navColor: #316e0f;
  --black30: #303030;
  --black: black;
  --black30Faint: #252328;
  --buttonGreen: #56e21b;
  --buttonGreenHover: #3b9011;
  --optionGreen: #42b413;
  --lightGray: #d9dddc;
  --labelGray: #444444;

  --white: white;
  --yellowTd: #FFC100;
  --redTd: #AF0707;
  --blueTd: #3A96EA;
  --orangeTd: #E97C08;
  --menuGreen: #56e21b;

  --green-100: #0CD494;
  --green-200: #669C82;
  --green-300: #384B41;

  --black-100: #303030;
  --black-200: #2d2d2e;
  --black-300: #2a292c;
  --black-400: #28262a;
  --black-500: #252328;

  --gray-50: #686868;
  --gray-100: #444444;
  --gray-200: #D9D9D9;

  --bg-color: #F5F5F5;
  --bg-color-alt: #E5E5E5;

  --button-radius: 50px;
}

* {
  color: var(--black30);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito', sans-serif;
}

.Bom {
  background-color: greenyellow;
}

.Médio {
  background-color: yellow;
}

.Ruim {
  background-color: crimson;
  color: aliceblue;
}

a:hover {
  color: var(--labelGray);
}

.addMarginLeft {
  margin-left: 20px;
}

#addForm {
  display: none;
}

#loading {
  height: 10rem;
}

#contactWindow {
  width: 25rem;
}
