.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.childrenWrapper {
  background-image: url("/images/bg-login.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3%;
  height: 100%;
}

@media (max-width: 768px) {
  .pageWrapper {
    height: 100%;
  }

  .childrenWrapper {
    padding-top: 2rem;
  }
}
